{{define "title"}}Text #{{.Text.ID}}{{end}}

{{define "main"}}
    {{if .Text.ID}}
    <!-- <h2>{{.Text.Title}}</h2> -->
    <div class="metadata">
        <h2><strong>{{.Text.Title}}</strong></h2>
        <span>#{{.Text.ID}}</span>
    </div>
    {{if .ImagesRef.ID}}
    <div class="image">
        <strong>{{.ImagesRef.Title}}</strong>
        <img src="{{.ImagesRef.Content}}" alt="{{.Text.Title}} - image" style="width:500px;">
    </div>
    {{end}}
    <pre><code>{{.Text.Content}}</code></pre>
    <div class="metadata">
            <time>Created: {{humanDate .Text.Created}}</time>
    </div>
    {{else}}
    <p>Error. Text not found</p>
    {{end}}
{{end}}
